# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyproject/

# Local resources
output/
input/BPa
dataGouv-fr
input/EuCtrl
input/FFVL
input/FFVP
input/SIA
input/Tests
