# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyproject/

# Local resources
output/
input/_*
input/BPa
input/dataGouv-fr
input/DIRCAM
input/EuCtrl
input/FFVL
input/FFVP
input/LPO
input/Parcs
input/SIA
input/Tests/KML-tests

