###
### Librayries
###    Syntaxe4load --> pip install -r requirements.txt
###
#aixmPaser							; necessary to parse sources files
#aixmPaser.groundEstimatedHeight    ; necessary to complete input-data
#openairPaser                       ; necessary to parse Openair files
Shapely
#Sous Windows, 'Shapely' peut ne pas s'installer, si besoin le télécharger --> https://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely
